In [12]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Loading Data

In [13]:
file = ('Resources/clean_hotel_dataset.csv')
segment_df = pd.read_csv(file)
segment_df.head()

,Unnamed: 0,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,total_nights
0,0,INN00001,2,0,1,2,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled,3
1,1,INN00002,2,0,2,3,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled,5
2,2,INN00003,1,0,2,1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled,3
3,3,INN00004,2,0,0,2,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled,2
4,4,INN00005,2,0,1,1,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled,2

In [14]:
y = segment_df["market_segment_type"]
X = segment_df.drop(columns=["Booking_ID","room_type_reserved","market_segment_type","booking_status"])
X.head()

,Unnamed: 0,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,total_nights
0,0,2,0,1,2,0,224,2017,10,2,0,0,0,65.00,0,3
1,1,2,0,2,3,0,5,2018,11,6,0,0,0,106.68,1,5
2,2,1,0,2,1,0,1,2018,2,28,0,0,0,60.00,0,3
3,3,2,0,0,2,0,211,2018,5,20,0,0,0,100.00,0,2
4,4,2,0,1,1,0,48,2018,4,11,0,0,0,94.50,0,2

 ## Split our data into training and testing

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(27206, 16)

 ## Create a Logistic Regression Model

In [16]:
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

## Fit (train) or model using the training data

In [17]:
classifier.fit(X_train, y_train)

/Users/domivi./opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(max_iter=200, random_state=1)

 ## Make predictions

In [18]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

   Prediction     Actual
0      Online    Offline
1      Online     Online
2     Offline     Online
3      Online     Online
4     Offline    Offline
5      Online     Online
6      Online     Online
7      Online     Online
8      Online     Online
9      Online     Online
10     Online     Online
11     Online     Online
12     Online     Online
13     Online     Online
14     Online     Online
15    Offline     Online
16     Online    Offline
17    Offline    Offline
18     Online     Online
19    Offline  Corporate

In [19]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.6634689601940678